body {
	text-align: center;
}

body .formClass{
	font-family: Helvetica;
	font-size: 4em;
}

.main {
	background-color: blue;

	width: 300px;
	height: 300px;
}

#OverlayContainer {
/*
    This does not affect anything
    becuse we are changing classes
    not modifying it
*/
}

.OverlayBox {
	-webkit-transition: opacity 3s;
    transition: opacity 3s;

	background-color: rgba(0, 0, 0, 1);
	opacity: 0;

	z-index: -999;

	position: absolute;
	width: 0%;
	height: 0%;

	top: 0px;
	left: 0px;
/*
	-webkit-animation-name: dropdown;
	-webkit-animation-duration: 3s;
	animation-name: dropdown;
	animation-duration: 3s;
*/
}

.animationIn
{
	-webkit-animation-name: dropdownEnter;
	-webkit-animation-duration: 1.5s;
	animation-name: dropdownEnter;
	animation-duration: 1.5s;

	-webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-out;
}

.animationOut
{
	-webkit-animation-name: dropdownExit;
	-webkit-animation-duration: 1.5s;
	animation-name: dropdownExit;
	animation-duration: 1.5s;

	-webkit-animation-timing-function: ease-in; /* Chrome, Safari, Opera */
    animation-timing-function: ease-in;
}

.formClass {
	z-index: 901;

	margin: auto;
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	background-color: #5E5E5E;
	border-radius: 10px;

	animation-fill-mode: forwards;
}

@-webkit-keyframes dropdownEnter {
	from {top: -150%;}
	to {top: 0; bottom: 0;}
}

@keyframes dropdownEnter {
	from {top: -150%;}
	to {top: 0; bottom: 0;}
}


@-webkit-keyframes dropdownExit {
	from {top: 0; bottom: 0;}
	to {top: -150%;}
}

@keyframes dropdownExit {
	from {top: 0; bottom: 0;}
	to {top: -150%;}
}

.noClass {
	z-index: 0;
	width: 0%;
	height: 0%;
	top: 0px;
	left: 0px;
}

/* TASKS TO DO:
~ 	Change js code to change CSS values
	directly within js instead of using
	another class for the inactive element
	and support the animation upon exit.
*/